@keyframes slide-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.card-slider {
    display: flex;
    animation: slide-left 110s linear infinite;
}

.card-slider:hover {
    animation-play-state: paused;
}
