@keyframes slide-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-slide-left {
    animation: slide-left 100s linear infinite;
}
